In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
sheet_id= "1kz81B5AQEpaMKPI8UVdBKxzjlLc7huKPUHVGeoaAMW8"
sheet_name= "datasetsmartplant"
bahan_data1= f"https://docs.google.com/spreadsheets/d/1kz81B5AQEpaMKPI8UVdBKxzjlLc7huKPUHVGeoaAMW8/gviz/tq?tqx=out:csv&sheet=sheet_name"
bahan_data= pd.read_csv(bahan_data1)
#bahan_data= pd.read_csv("/content/drive/MyDrive/menu  - Sheet1.csv")

In [ ]:
bahan_data.shape
bahan_data.head()

   id         bahan                                            makanan
0   1  bawang merah  soto betawi|nasi goreng|bakso|sop|sayur lodeh|...
1   2  bawang putih  soto betawi|nasi goreng|bakso|sop|sayur lodeh|...
2   3         tomat    soto betawi|bakso|sop|saus tomat|tongseng ayam|
3   4         timun  lalapan|gado gado|karedok|lotek|ketoprak|asina...
4   5    cabe merah  soto betawi|nasi goreng|bakso|sop|sayur lodeh|...

In [ ]:
bahan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       25 non-null     int64
 1   bahan    24 non-null     object
 2   makanan  24 non-null     object
dtypes: int64(1), object(2)
memory usage: 728.0+ bytes

In [ ]:
bahan_data.isna().sum()

id         0
bahan      1
makanan    1
dtype: int64

In [ ]:
bahan_data.dtypes

id          int64
bahan      object
makanan    object
dtype: object

In [ ]:
def get_bahan_from_id(id):
	return bahan_data[bahan_data.id == id]["bahan"].values[0]

def get_id_from_bahan(bahan):
	return bahan_data[bahan_data.bahan == bahan]["id"].values[0]

In [ ]:
features= ['bahan','makanan']

In [ ]:
def combine_features(row):
  try:
    return row['bahan']+' '+row['makanan']
  except:
    return "error:", row

In [ ]:
for feature in features:
  bahan_data[feature]= bahan_data[feature].fillna('')

In [ ]:
bahan_data['combined_features']= bahan_data.apply(combine_features, axis=1)

In [ ]:
print(bahan_data.loc[0,'combined_features'])

bawang merah soto betawi|nasi goreng|bakso|sop|sayur lodeh|rendang|ayam rica rica|tumis|seblak|tongseng ayam|mie ayam|tahu gejrot|capcay|

In [ ]:
cv= CountVectorizer()
count_matrix= cv.fit_transform(bahan_data["combined_features"])
cosine_sim = cosine_similarity(count_matrix)

In [ ]:
def get_recomendation(bahan):
  bahan_id= get_id_from_bahan(bahan.lower())
  bahan_mirip= list(enumerate(cosine_sim[bahan_id]))

  sorted_similar_bahan = sorted(bahan_mirip,key=lambda x:x[1],reverse=True)[1:]

  i=0
  print("top 3 bahan yang mirip "+bahan+" adalah:\n")
  for element in sorted_similar_bahan:
    print(get_bahan_from_id(element[0]))
    i=i+1
    if i==3:
      break

In [ ]:
get_recomendation('selada')

top 3 bahan yang mirip selada adalah:

daun bawang
bawang putih
timun

In [ ]:
get_recomendation('tomat')

top 3 bahan yang mirip tomat adalah:

kacang tanah
kunyit
sawi

In [ ]:
get_recomendation('kacang tanah')

top 3 bahan yang mirip kacang tanah adalah:

tomat
kunyit
daun bawang

In [ ]:
get_recomendation('jahe')

top 3 bahan yang mirip jahe adalah:

bawang merah
bawang putih
tomat